.Rproj.user
.Rhistory
.RData
.Ruserdata
/data-raw/MJ-Survey/
/data-raw/backups/
/data-raw/output/
/data-raw/NECTAR/nectar-backup/
/data-raw/NECTAR/output/
.httr-oauth
.DS_Store
.quarto
/manuscript/manuscript_cache/
/manuscript/manuscript_files/
